@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background-color: #27272A;
  color: white;
  overflow-x: hidden;
}

header {
    background-color: #161616;
    padding: 20px;
}

main {
    background-color: #161616;
    padding: 20px;
}
